<div>
  <form>
  <input type="checkbox"/>
  <input type="checkbox"/>
  </form>
</div>

{% schema %}
  {
    "name": "Partial Payment",
    "target": "section",
    "stylesheet": "cg_partial_pay.css",
    "javascript": "cg_partial_pay.js",
    "templates": ["product", "index", "cart"],
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Partial Pay"
      }
    ]
  }
{% endschema %}
