<div id="cg_pay_type">
  
  <div class="sd_payment_type"><label>Payment Type</label><span><input type="radio" id="sd_full_opt" name="sd_part_full" class="sd_partial_fullpart" value="Full Pay" checked><label for="sd_full_opt" class="sd-label-payment-type">Full Payment</label></span><span><input type="radio" id="sd_partial_opt" name="sd_part_full" class="sd_partial_fullpart" value="Partial Pay"><label for="sd_partial_opt" class="sd-label-payment-type">Partial Payment</label></span></div>
  
</div>



{% schema %}
  {
    "name": "Partial Payment",
    "target": "section",
    "stylesheet": "cg_partial_pay.css",
    "javascript": "cg_partial_pay.js",
    "templates": ["product", "index", "cart"],
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Partial Pay"
      }
    ]
  }
{% endschema %}
